[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tofsims"]
	path = tofsims
	url = https://github.com/lorenzgerber/tofsims
	shallow = true
	registered = true
